.dashboard{
    width: 1000px;
    height: 650px;

    background-color: lightblue;

    box-sizing: border-box;

    margin: 50px auto 0px auto;
    padding: 25px;
    display: flex;

    flex-direction: column;
    gap: 50px;
}

.title{
    background-color: lightskyblue;
}

.block{
    width: 150px;
    height: 50px;

    
    background-color: whitesmoke;
    display: flexbox;

    text-align: center;
}

.block.graph{
    width: 300px;
    height: 200px;
}



.scrollable thead, .scrollable tbody{
    display: block;
    width: 100%;

}

.scrollable tbody{
    height: 200px;

    overflow-y: auto;
    
    scrollbar-width: none;
}

.scrollable tr{
    display: flex;
    justify-content: space-between;
}

.pieLegend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-right: 20px;
    gap: 10px;

    box-sizing: border-box;
}
