.dashboard{
    width: 1200px;
    height: 650px;

    background-color: lightblue;

    box-sizing: border-box;

    margin: 50px auto 0px auto;
    padding: 25px;
    display: flex;

    flex-direction: column;
    gap: 50px;
}

.title{
    background-color: lightskyblue;
    width: 100%;
}

.block{
    width: 150px;
    height: 50px;

    
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
}

.block.graph{
    width: 50%;
    height: 200px;
}

.programs{
    width: 100%;
    height: 100%;

    background-color: whitesmoke;
    
    text-align: center;
}



.scrollable thead, .scrollable tbody{
    display: block;
    width: 100%;

}

.scrollable tbody{
    height: 200px;

    overflow-y: auto;
    
    scrollbar-width: none;
}

.tableData{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.scrollable tr{
    display: flex;
    justify-content: space-between;
}

.pieLegend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-right: 20px;
    gap: 10px;

    box-sizing: border-box;
}


